{
    "type": "service_account",
    "project_id": "aaaaa-bbbbb-123123",
    "private_key_id": "1234tyui1234ghjlkasdfn.,m",
    "private_key": "-----BEGIN PRIVATE KEY-----\nABCDEFGHIJKLMN=\n-----END PRIVATE KEY-----\n",
    "client_email": "sa@aaaaa-bbbbb-123123.iam.gserviceaccount.com",
    "client_id": "1234567812345678",
    "auth_uri": "https://accounts.google.com/o/oauth2/auth",
    "token_uri": "https://oauth2.googleapis.com/token",
    "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
    "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/sa%40aaaaa-bbbbb-123123.iam.gserviceaccount.com"
}
